/******************************************************************************
BLOG SPECIFIC STYLES START HERE 
******************************************************************************/

#myTime, #myToday{
	font-size:25px;
	font-weight:bold;
	color:#3a3f90;
}
.trans{
	color:#F2EFEC;	
}